body    {
    display: grid;
    grid-gap:1em ;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    background-image: url(images/Rain-texture.jpg);
    

}

.logo {
    max-width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    min-width: 20vh;
}


@media (min-width: 40em) {
    body {
        grid-template-columns: 12em 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        'banner'
        'nav'
        'main'
        'footer'
        ;

    }

    header {
        grid-column: span 2;
    }



    .logo {
        width: fit-content;
    }

}

@media (min-width: 40em) {
    body {
        grid-template-areas: 
        'nav banner'
        'nav main'
        'nav footer';
    }
}

header { grid-area: banner; }
nav { grid-area: nav;}
main {grid-area: main;}
footer {grid-area: footer;}



nav {
    background-color: #0a3641;
    color:#fff;
    font-size: 1.5em;
    font-family: bookman old style;
    font-weight: bold;
}



nav  {
    border-color:#d5a033;
    border-style: solid;
}

.product{
    border-color: #d5a033;
    border-style: solid ;
}

button {
    width: auto;
    height: auto;
    
}

section {
    margin: 10em;
}


