
body    {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;

}

.logo {
    max-width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}


@media (min-width: 40em) {
    body {
        grid-template-columns: 12em 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        'nav banner'
        'nav main'
        'nav footer'
        ;
    }

    header {
        grid-column: span 2;
        background-color: blue;
    }

    nav ul li {
        display: inline-block;
    }

    .logo {
        width: fit-content;
    }

}

main {
    background-color: cornsilk;
}

nav {
    background-color: #0a3641;
    color:#fff;
}

footer {
    background-color: darkgreen;
}

nav ul li {
    display: flex;
    
}

.product{
    
    border-color: #d5a033;
    border-style: solid ;
}






